html,
body {
    background-color: #fdfff5;
}

.container {
    margin: 80px auto 0;
    max-width: 1200px;
}

.nav-container {
    margin: auto;
}

a {
    text-decoration: none;
    color: #8d6d4f;
}
